h1 {
    color: red;
}

h2 {
    color: blue;
    text-decoration: wavy;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#banner {
    padding: 10px;
    font-size: 25px;
    align-self: center;
}

.justified-text {
    text-align: justify;
}

a {
  color: white;  
}

.center {
    margin: auto;
    width: 25%;
   
    padding: 10px;
}

.vertical-line {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    /* Adjust the color and thickness as needed */
    height: 100%;
    /* Ensures the line stretches to the full height of the column */
}
.vertical-line-single {
  
    border-left: 1px solid #ccc;
    /* Adjust the color and thickness as needed */
    height: 100%;
    /* Ensures the line stretches to the full height of the column */
}

.navbar-brand {
    img {
        display: inline-block;
        margin-right: 8px;
        width: 50px;
        height: 50px;
    }
}


footer {
    background-color: lightslategray;
    color: white;
    padding: 30px;
    text-align: center;
}


#signatureCanvas {
    border: 1px solid #ccc;
    cursor: crosshair;
}



.cards-wrapper{
     column-gap: 8px;
}




