h1 {
    color: red;
}

h2 {
    color: blue;
    text-decoration: wavy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





#banner {
    padding: 10px;
    font-size: 25px;
    
}

.justified-text {
    text-align: justify;
}


a {
  color: white;  
}



footer {
    background-color: lightslategray;
    color: white;
    padding: 30px;
    text-align: center;
}



